<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>LogInTestSuiteVariousBrowsersStack</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a485d2">  <td>18/11/21 10:54:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.logInTest()[pri:0, instance:com.packt.test.LoginTest@3532ec19]">logInTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/11/21 10:55:01</td>   <td>23541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.logInTest()[pri:0, instance:com.packt.test.LoginTest@4dfa3a9d]">logInTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/11/21 10:55:24</td>   <td>46637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.logInTest()[pri:0, instance:com.packt.test.LoginTest@57fffcd7]">logInTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 10:54:17</td>   <td>-21343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.packt.test.LoginTest@3532ec19]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 10:54:53</td>   <td>14750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.packt.test.LoginTest@4dfa3a9d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 10:55:14</td>   <td>36546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.packt.test.LoginTest@57fffcd7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 10:54:41</td>   <td>2860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.packt.test.LoginTest@3532ec19]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 10:55:04</td>   <td>25707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.packt.test.LoginTest@4dfa3a9d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 10:55:26</td>   <td>48650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.packt.test.LoginTest@57fffcd7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@230835489</td>   <td></td> </tr>
</table>
