<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DynamicallyLoadedElementsTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b199">  <td>18/11/16 15:56:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String)[pri:0, instance:com.packt.test.DynamicallyLoadedElementsTest@5e5792a0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1268066861</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>18/11/16 15:57:06</td>   <td>6990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DynamicallyLoadedElementsTest.startButtonTest()[pri:0, instance:com.packt.test.DynamicallyLoadedElementsTest@5e5792a0]">startButtonTest</td> 
  <td>main@1268066861</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>18/11/16 15:57:16</td>   <td>17542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.packt.test.DynamicallyLoadedElementsTest@5e5792a0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1268066861</td>   <td></td> </tr>
</table>
