<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>WindowsAndFramesTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a57a9b">  <td>18/11/16 12:39:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String)[pri:0, instance:com.packt.test.WindowsAndFramesTest@3532ec19]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/11/16 12:39:46</td>   <td>17783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.packt.test.WindowsAndFramesTest@3532ec19]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>18/11/16 12:39:35</td>   <td>6850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WindowsAndFramesTest.wysiwygEditorTest()[pri:0, instance:com.packt.test.WindowsAndFramesTest@3532ec19]">wysiwygEditorTest</td> 
  <td>main@1938056729</td>   <td></td> </tr>
</table>
