<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>LogInTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7d6578">  <td>18/11/16 16:22:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.logInTest()[pri:0, instance:com.packt.test.LoginTest@5e5792a0]">logInTest</td> 
  <td>main@1268066861</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>18/11/16 16:22:01</td>   <td>-6667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String)[pri:0, instance:com.packt.test.LoginTest@5e5792a0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1268066861</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>18/11/16 16:22:14</td>   <td>6374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.packt.test.LoginTest@5e5792a0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1268066861</td>   <td></td> </tr>
</table>
