<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RegistrationTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6dfcb">  <td>18/11/15 12:11:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String)[pri:0, instance:com.packt.test.RegistrationTest@29774679]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1459794865</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/11/15 12:11:35</td>   <td>8986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.registrationTest()[pri:0, instance:com.packt.test.RegistrationTest@29774679]">registrationTest</td> 
  <td>main@1459794865</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/11/15 12:11:53</td>   <td>26952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.packt.test.RegistrationTest@29774679]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1459794865</td>   <td></td> </tr>
</table>
