<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AlertsTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6dfcb">  <td>18/11/16 11:11:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String)[pri:0, instance:com.packt.test.AlertsTest@29774679]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/11/16 11:11:40</td>   <td>6927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlertsTest.jSAlertButtonTest()[pri:1, instance:com.packt.test.AlertsTest@29774679]">jSAlertButtonTest</td> 
  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/11/16 11:11:52</td>   <td>18434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.packt.test.AlertsTest@29774679]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/11/16 11:11:52</td>   <td>18524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String)[pri:0, instance:com.packt.test.AlertsTest@29774679]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/11/16 11:11:58</td>   <td>24753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlertsTest.jSAlertConfirmTest()[pri:2, instance:com.packt.test.AlertsTest@29774679]">jSAlertConfirmTest</td> 
  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/11/16 11:12:05</td>   <td>32035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.packt.test.AlertsTest@29774679]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/11/16 11:12:05</td>   <td>32119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String)[pri:0, instance:com.packt.test.AlertsTest@29774679]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/11/16 11:12:12</td>   <td>38349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlertsTest.jSAlertCancelTest()[pri:3, instance:com.packt.test.AlertsTest@29774679]">jSAlertCancelTest</td> 
  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/11/16 11:12:24</td>   <td>50783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.packt.test.AlertsTest@29774679]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/11/16 11:12:24</td>   <td>50883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String)[pri:0, instance:com.packt.test.AlertsTest@29774679]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/11/16 11:12:30</td>   <td>57079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AlertsTest.jSAlertPromptTest()[pri:4, instance:com.packt.test.AlertsTest@29774679]">jSAlertPromptTest</td> 
  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>18/11/16 11:12:42</td>   <td>68247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.packt.test.AlertsTest@29774679]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
</table>
