<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>LogInTestSuiteVariousBrowsers</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a485d2">  <td>18/11/21 00:01:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.logInTest()[pri:0, instance:com.packt.test.LoginTest@3532ec19]">logInTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/11/21 00:01:19</td>   <td>96</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.logInTest()[pri:0, instance:com.packt.test.LoginTest@4dfa3a9d]">logInTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/11/21 00:01:19</td>   <td>118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.logInTest()[pri:0, instance:com.packt.test.LoginTest@57fffcd7]">logInTest</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 00:01:19</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.packt.test.LoginTest@3532ec19]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 00:01:19</td>   <td>97</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.packt.test.LoginTest@4dfa3a9d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 00:01:19</td>   <td>120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.packt.test.LoginTest@57fffcd7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@230835489</td>   <td></td> </tr>
</table>
